<div class="border border-black-shadow">
  <h2 class="">contact <span class="text-green-700">me</span></h2>
  <form action="">
    <div>
      <input
        type="text"
        placeholder="Enter your name "
        name="na"
        ngModel
        class="border border-gray-400"
      />
    </div>
    <div>
      <input type="text" placeholder="Enter your email" name="em" ngModel />
    </div>
    <div><textarea placeholder="enter msg" name="msg" ngModel></textarea></div>
  </form>
</div>
